on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
name: Nightly Static Build
jobs:
  run-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
          node-version: latest
      - name: Run build:default
        run: npm run build:default -w static
      - name: Run build:releases
        run: npm run build:releases -w static
      - name: Run build:security
        run: npm run build:security -w static
      - name: Run build:support
        run: npm run build:support -w static
      - name: Create or Update Pull Request
        uses: gr2m/create-or-update-pull-request-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
        title: "Update Static Data"
        body: "Updates the static data based on a nightly (or manual) run of the build step in GitHub Actions. Unless the data is invalid, this should be good to go."
        branch: "nightly"
        commit-message: "feat: add new data"
        assignees: bnb
        auto-merge: squash
